@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Expo-Medium";
  src: url("../../public/fonts/alfont_com_AlFont_com_ExpoArabic-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .btn-default {
    @apply text-center bg-picks-dark hover:bg-picks-light rounded-md font-semibold text-white shadow-sm px-3.5 py-2.5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white capitalize;
  }

  .btn-transparent {
    @apply text-center border border-picks-dark hover:border-none hover:bg-picks-dark hover:text-white text-picks-dark rounded-md font-semibold shadow-sm px-3.5 py-2.5 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white capitalize;
  }

  .btn-gray {
    @apply text-center bg-gray-100 hover:bg-gray-200 rounded-md font-semibold text-black shadow-sm px-4 py-4  capitalize focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white;
  }

  .input-default {
    @apply bg-gray-100 block w-full rounded-md border-0 px-3.5 py-2.5 text-gray-900 shadow-sm  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-picks-dark sm:text-sm sm:leading-6;
  }

  .label-default {
    @apply block text-sm font-medium leading-6 text-gray-900 capitalize;
  }

  .page-padding {
    @apply px-10;
  }

  .arrow-btn {
    @apply w-8 h-8 rounded-full rtl:rotate-180;
  }
  .slider-title {
    @apply text-xl font-semibold capitalize;
  }

  .card-title {
    @apply truncate font-semibold mt-2;
  }
  .card-desc {
    @apply truncate text-xs text-picks-text-gray;
  }
  .error {
    @apply text-red-700 text-xs capitalize;
  }
}

.font-picks-medium {
  font-family: "Expo-Medium", "sans-serif" !important;
}

body,
html,
div,
label,
span,
h1,
h2,
h3,
a {
  font-family: "Expo-Medium", "sans-serif" !important;
}
